@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    /* align-items: center; */
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(./images/greg-jurgajtis-2NyNF1mrYGY-unsplash.jpg);
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem 2rem 2rem;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-left: 2.5rem;
}


.header__container {
    min-width: 80vw;
    height: 80vh;
    /* background-color: white; */
    background-size: cover;
    background-position: center;
    /* background-image:  url(./images/greg-jurgajtis-2NyNF1mrYGY-unsplash.jpg); */
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0)), url(./images/greg-jurgajtis-2NyNF1mrYGY-unsplash.jpg);
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-left: 3rem;
    position: absolute;
    color: white;
    font-family: 'Encode Sans SC', sans-serif;

    box-shadow: -4px 6px 12px 1px rgba(0,0,0,0.44);
-webkit-box-shadow: -4px 6px 12px 1px rgba(0,0,0,0.44);
-moz-box-shadow: -4px 6px 12px 1px rgba(0,0,0,0.44);
}

.text-container {
    position: relative;
    top: 10%;
    bottom: 10%;
    transform: translate( 2%,5%);
    margin: 2rem 0;
}

h1 {
    text-transform: uppercase;
}


span {
    font-size: 3.5rem;
}

p {
    font-size: 300;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 8px 5px;
    gap: 5px;
    /* border: 1px solid black; */
    letter-spacing: 2px;
    transition: all .3s ease;

}

a:hover {
    letter-spacing: 3px;
    color: turquoise;

}


.btn {
    padding: 6px 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 1rem;
    transition: all .3s ease;
    margin-right: 1rem;
}

.btn:hover {
    color: black;
    border: 1px solid turquoise;
    background-color: turquoise;
}


.accomodations {
    height: 100vh;
}

.accomodation-img {
    width: 50%;
    float: left;
}


