* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    /* align-items: center; */
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(./images/greg-jurgajtis-2NyNF1mrYGY-unsplash.jpg);
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-left: 1rem;
}


.header__container {
    min-width: 80vw;
    height: 80vh;
    /* background-color: white; */
    background-size: cover;
    background-position: center;
    background-image:  url(./images/greg-jurgajtis-2NyNF1mrYGY-unsplash.jpg);
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-left: 3rem;
    position: absolute;
}

.text-container {
    position: relative;
    top: 10%;
    bottom: 10%;
    transform: translate( 2%,5%);
}


span {
    font-size: 3.5rem;
}

