* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    /* align-items: center; */
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.603),rgba(255, 255, 255, 0.24)), url(./images/greg-jurgajtis-2NyNF1mrYGY-unsplash.jpg);
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header__container {
    min-width: 80vw;
    height: 80vh;
    background-color: white;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* display: flex; */
}


